$compName: "title";

.#{$compName} {
  display: block;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;

  &__label {
    @include primary-font-M-semibold;
    margin: 1.6rem;
  }
}
