$compName: "card-user";

.#{$compName} {
  &.clickable {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
  }
}
