/* SPACERS */
$spacer-xs: 0.4rem;
$spacer-s: 0.8rem;
$spacer-m: 1.6rem;
$spacer-l: 2.4rem;
$spacer-xl: 3.2rem;
$spacer-2xl: 4rem;
$spacer-3xl: 4.8rem;
$spacer-4xl: 5.6rem;
$spacer-5xl: 6.4rem;
$spacer-6xl: 7.2rem;
$spacer-7xl: 8rem;

/* COLORS */
$info50: #e1f4fc;
$info100: #b4e4f8;
$info200: #85d2f3;
$info300: #3eb3ea;
$info400: #2da5e6;
$info500: #2998d8;
$info600: #2385c4;
$info700: #2074b0;
$info800: #18558e;
$info900: #0f477b;
$ok50: #e6f5e8;
$ok100: #c3e5c8;
$ok200: #9cd4a4;
$ok300: #73c480;
$ok400: #53b766;
$ok500: #30ab4b;
$ok600: #279c42;
$ok700: #1b8a36;
$ok800: #0e792c;
$ok900: #005a19;
$warning50: #fbeae8;
$warning100: #fecfbf;
$warning200: #feb096;
$warning300: #ff916c;
$warning400: #ff794c;
$warning500: #ff632e;
$warning600: #f45c2a;
$warning700: #e65525;
$warning800: #d84f22;
$warning900: #bf4219;
$error50: #fceaee;
$error100: #f7cbd3;
$error200: #e4979d;
$error300: #d67077;
$error400: #e04f58;
$error500: #e43e42;
$error600: #d5353f;
$error700: #c32c39;
$error800: #b62632;
$error900: #a61d28;
$neutral50: #e6e6e6;
$neutral100: #b5b5b5;
$neutral200: #858585;
$neutral300: #606060;
$neutral400: #4d4d4d;
$neutral500: #3f3f3f;
$neutral600: #353535;
$neutral700: #2e2e2e;
$neutral800: #262626;
$neutral900: #1a1a1a;
$accent50: #fef7e1;
$accent100: #fdebb3;
$accent200: #fcdd82;
$accent300: #fbd24f;
$accent400: #fac628;
$accent500: #fabd07;
$accent600: #faaf01;
$accent700: #f99c01;
$accent800: #ea9000;
$accent900: #db8700;
$mainBlock: #1a1a1a;
$mainBlock: #fcdd82;

$loading: $neutral200;
$background: #ffffff;
$regularFont: $neutral500;
$titleFont: $neutral900;

/* SHADOWS */
$boxShadow: 0px 0px 0px 1px $neutral100;
